body {
    padding-top: 70px;
    margin-bottom: 60px;
    padding-bottom: 0;
    background-color: #E6E6E6;
}

#login-wrap{
    width:320px;
    margin:auto;
    padding: 12% 0 0;
}

.form-input{
    margin-top:5px;
    margin-bottom:15px;
}

.container{
    margin: auto;
}

.footer {
    /*position: absolute;*/
    background-color: #333;
    color:white;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;

    /* フッタの高さ */
    height: 60px;
}

p#copyright {
    margin:25px;
    text-align: right;
    font-family: verdana ,arial ,sans-serif;
}

/* manage */
.box {
    width:200px;
    height:400px;
    background-color: white;
    float:left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.box-detail {
    padding: 15px;
    margin: auto;
    width: 980px;
    /*height:380px;*/
    background-color: white;
    float:left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.box-p {
    margin: 5px 5px;
}

.box-label {
    width: 60px;
    margin-right: 5px;
    padding: 2px;
    display: inline-block;
    background-color: #c8c8c8;
}

.box-label-m {
    width: 110px;
    margin-right: 5px;
    padding: 2px;
    display: inline-block;
    background-color: #c8c8c8;
}

.btn-group-vertical>.btn{
    padding: 0px;
    border:0px;
    line-height:1;
}

.btn-group-vertical>.btn:hover{
    color: #3476be;
}

.table>thead>tr>th.info{
    background-color: #c8c8c8;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #9d9d9d;
}

.box-img {
    width: 200px;
    height: 200px;
}

.box-img-big {
    /*width: 500px;*/
    /*height: 500px;*/
}

.box-list-img {
    width: 50px;
    height: 50px;
}


/* file upload module */
.file-upload-area {
    padding: 20px;
    border: 2px #DDD dashed;
    text-align: center;
    color: #DDD;
    margin-bottom: 20px;
}
.file-upload-area input[type="file"] {
    display: none;
}
.file-upload-dragover {
    background-color: #F9F9F9;
    opacity: 0.8;
}

/* manage modal box */
.manageModalBox {
    margin: 20px;
}

.manageModalBoxFooter {
    margin: 10px;
}

input[type=search] {
    margin: 10px;
}